pkgbase = linux-edac-git
	pkgdesc = Linus Torvalds' Mainline Linux
	pkgver = 6.15.r13627.119b1e61a769
	pkgrel = 1
	url = https://www.kernel.org
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = bison
	makedepends = cpio
	makedepends = flex
	makedepends = gettext
	makedepends = git
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = rust
	makedepends = rust-bindgen
	makedepends = rust-src
	makedepends = tar
	makedepends = xz
	options = !debug
	options = !strip
	backup = etc/linux-edac-git/config
	backup = etc/linux-edac-git/remote
	backup = etc/linux-edac-git/patches/patches
	source = linux-torvalds::git+https://kernel.googlesource.com/pub/scm/linux/kernel/git/torvalds/linux
	source = config
	source = config.extra
	source = config.user
	source = remote
	source = patches
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	b2sums = SKIP
	b2sums = a2644043800a384d40677ed957c5c9cbd70600b20f700fa5c3e84684574da7496f8a17b10f2984a15a918ef60211db08996cb189daf3a98cbb8bb5cbad0a8512
	b2sums = 249bec61fed688345a0f41245af9e8e189af3149e66a3c0dcc8e833151428232a701a35ed760ef93ceb5f25d9378c44f903f380a7051a65fb9a203c6fb51ebcd
	b2sums = e162f38de7a7dc870dbd9a91b5e5b05460090a259dec4ff07d9f71155521aea907e10420271ad404d1959899e9e1819ad31547401d06c2ed77d04c690c03e3e0
	b2sums = a50d0b4842bb6ad4d522beb71aa29a5b130ad43ea09efcada3aee472346d2f28ed30af3c91139442db3ae885d32a903697641551d5cb2a7fc1371f0b4249815a
	b2sums = 04709de86b8803edfc2d12e5fe80d96c172eb817c8cf357990821003b344f54e0dd6f35a0694a2e8012d7d9cbac082ffeaeaaf036301b084fc69361034a91c7f

pkgname = linux-edac-git
	pkgdesc = The Linus Torvalds' Mainline Linux kernel and modules
	install = linux-edac-git.install
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = scx-scheds: to use sched-ext schedulers
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	provides = KSMBD-MODULE
	provides = NTSYNC-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-edac-git-headers
	pkgdesc = Headers and scripts for building modules for the Linus Torvalds' Mainline Linux kernel
	depends = pahole
